[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dvc = "*"
scikit-learn = "*"
umap-learn = "*"
stanza = "*"
mlflow = "*"
gensim = "*"
hyperopt = "*"
streamlit = "*"
plotly = "*"
pyldavis = "*"
nltk = "*"
openai = "*"
wordcloud = "1.8.2.2"
altair = "< 5.0.0"
statsmodels = "*"
tensorflow = "*"
importlib-resources = "*"
keras = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.10.0"
