[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dvc = "*"
scikit-learn = "*"
umap-learn = "*"
stanza = "*"
matplotlib = "*"
mlflow = "*"
gensim = "*"
python-dotenv = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.10"
